<ion-content>
  <div class="full-height container">
    <div class="logo">
      <img src="assets/logo.svg">
    </div>
    <div class="titles">
      <h2>Dining Flow</h2>
      <span class="sub-title">Share your best spots with<br> friends or family!</span>
    </div>

    <div class="actions">
      <app-button buttonText="Sign Up with Email" (click)="onRegister()"></app-button>
      <span class="already-account">
        Already have an account? <a (click)="onLogin()">Sign In</a>
      </span>
    </div>

    <div class="author">
      Made by Toc
    </div>
  </div>
</ion-content>
