$white: #fbfaf8;
$blue: #001666;
$orange: #ff8366;
$black: #0f3648;
$sub-title: rgba($black, .75);
$lighter-blue: rgba($blue, .5);
$transition: all .3s ease-in-out;
$box-shadow: 0 1.8rem 3.5rem rgba(50,50,93,.1),-.1rem 0 1.5rem rgba(0,0,0,.07);

//body[color-theme="light"] {
//  color: #0f3648;
//  caret-color: #0f3648;
//  --ion-color-primary: #fbfaf8;
//  --ion-color-primary-rgb: rgb(#fbfaf8);
//  --ion-color-primary-contrast: #0f3648;
//  --ion-color-primary-contrast-rgb: rgb(#0f3648);
//
//  --ion-color-secondary: #ff8366;
//  --ion-color-secondary-rgb: #ff8366;
//  --ion-color-secondary-contrast: #0f3648;
//  --ion-color-secondary-contrast-rgb: rgb(#0f3648);
//}
//
//.ios body[color-theme="light"] {
//  --ion-background-color: #fbfaf8;
//  --ion-background-color-rgb: rgb(#fbfaf8);
//  --ion-text-color: #0f3648;
//  --ion-text-color-rgb: rgb(#0f3648);
//  --ion-item-background: #fbfaf8;
//  --ion-card-background: #fbfaf8;
//}
//
//.md body[color-theme="light"] {
//  --ion-background-color: #fbfaf8;
//  --ion-background-color-rgb: rgb(#fbfaf8);
//  --ion-text-color: #0f3648;
//  --ion-text-color-rgb: rgb(#0f3648);
//  --ion-border-color: #0f3648;
//  --ion-item-background: #fbfaf8;
//  --ion-toolbar-background: #fbfaf8;
//  --ion-tab-bar-background: #fbfaf8;
//  --ion-card-background: #fbfaf8;
//}
//
//body[color-theme="dark"] {
//  color: #fbfaf8;
//  caret-color: #fbfaf8;
//  --ion-color-primary: #0f3648;
//  --ion-color-primary-rgb: rgb(#0f3648);
//  --ion-color-primary-contrast: #fbfaf8;
//  --ion-color-primary-contrast-rgb: rgb(#fbfaf8);
//
//  --ion-color-secondary: #ff8366;
//  --ion-color-secondary-rgb: #ff8366;
//  --ion-color-secondary-contrast: #fbfaf8;
//  --ion-color-secondary-contrast-rgb: rgb(#fbfaf8);
//}
//
//.ios body[color-theme="dark"] {
//  --ion-background-color: #0f3648;
//  --ion-background-color-rgb: rgb(#0f3648);
//  --ion-text-color: #fbfaf8;
//  --ion-text-color-rgb: rgb(#fbfaf8);
//  --ion-item-background: #0f3648;
//  --ion-card-background: #0f3648;
//}
//
//.md body[color-theme="dark"] {
//  --ion-background-color: #0f3648;
//  --ion-background-color-rgb: rgb(#0f3648);
//  --ion-text-color: #fbfaf8;
//  --ion-text-color-rgb: rgb(#fbfaf8);
//  --ion-border-color: #fbfaf8;
//  --ion-item-background: #0f3648;
//  --ion-toolbar-background: #0f3648;
//  --ion-tab-bar-background: #0f3648;
//  --ion-card-background: #0f3648;
//}
