/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

@import "theme/variables";
@import "theme/ionic";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  color: $black;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column,
.flex-row {
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.end {
    justify-content: flex-end;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}
